
@-webkit-keyframes animate-buzz {
    0% {
        -webkit-transform: translateX(3px) rotate(1deg);
        transform: translateX(3px) rotate(1deg)
    }
    2.5% {
        -webkit-transform: translateX(-3px) rotate(-1deg);
        transform: translateX(-3px) rotate(-1deg)
    }
    5% {
        -webkit-transform: translateX(3px) rotate(1deg);
        transform: translateX(3px) rotate(1deg)
    }
    7.5% {
        -webkit-transform: translateX(-3px) rotate(-1deg);
        transform: translateX(-3px) rotate(-1deg)
    }
    10% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    12.5% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    15% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    17.5% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    20% {
        -webkit-transform: translateX(1px) rotate(1deg);
        transform: translateX(1px) rotate(1deg)
    }
    22.5% {
        -webkit-transform: translateX(-1px) rotate(-1deg);
        transform: translateX(-1px) rotate(-1deg)
    }
    25% {
        -webkit-transform: translateX(0) rotate(0);
        transform: translateX(0) rotate(0)
    }
}

@keyframes animate-buzz {
    0% {
        -webkit-transform: translateX(3px) rotate(1deg);
        transform: translateX(3px) rotate(1deg)
    }
    2.5% {
        -webkit-transform: translateX(-3px) rotate(-1deg);
        transform: translateX(-3px) rotate(-1deg)
    }
    5% {
        -webkit-transform: translateX(3px) rotate(1deg);
        transform: translateX(3px) rotate(1deg)
    }
    7.5% {
        -webkit-transform: translateX(-3px) rotate(-1deg);
        transform: translateX(-3px) rotate(-1deg)
    }
    10% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    12.5% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    15% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    17.5% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    20% {
        -webkit-transform: translateX(1px) rotate(1deg);
        transform: translateX(1px) rotate(1deg)
    }
    22.5% {
        -webkit-transform: translateX(-1px) rotate(-1deg);
        transform: translateX(-1px) rotate(-1deg)
    }
    25% {
        -webkit-transform: translateX(0) rotate(0);
        transform: translateX(0) rotate(0)
    }
}

.admin .link__highlight .animate-buzz.active,
.admin .link__highlight .animate-buzz:hover {
    -webkit-animation-name: animate-buzz;
    animation-name: animate-buzz;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.service .animate-buzz {
    -webkit-animation-name: animate-buzz;
    animation-name: animate-buzz;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

@-webkit-keyframes animate-wobble {
    4.16% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }
    8.33% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px)
    }
    12.48% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px)
    }
    16.66% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    20.81% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px)
    }
    25% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes animate-wobble {
    4.16% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }
    8.33% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px)
    }
    12.48% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px)
    }
    16.66% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    20.81% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px)
    }
    25% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.admin .link__highlight .animate-wobble.active,
.admin .link__highlight .animate-wobble:hover {
    -webkit-animation-name: animate-wobble;
    animation-name: animate-wobble;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.service .animate-wobble {
    -webkit-animation-name: animate-wobble;
    animation-name: animate-wobble;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

@-webkit-keyframes animate-pop {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    12.5% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }
    25% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes animate-pop {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    12.5% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }
    25% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.admin .link__highlight .animate-pop.active,
.admin .link__highlight .animate-pop:hover {
    -webkit-animation-name: animate-pop;
    animation-name: animate-pop;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.service .animate-pop {
    -webkit-animation-name: animate-pop;
    animation-name: animate-pop;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

@-webkit-keyframes animate-swipe-admin {
    4.16%,
    8.33% {
        background-position: 0 0;
        color: #fff
    }
    12.49%,
    20.83% {
        background-position: -100% 0;
        color: #777
    }
    24.99%,
    29.16% {
        background-position: 0 0;
        color: #fff
    }
    33.33% {
        background-position: 100% 0;
        color: #777
    }
}

@keyframes animate-swipe-admin {
    4.16%,
    8.33% {
        background-position: 0 0;
        color: #fff
    }
    12.49%,
    20.83% {
        background-position: -100% 0;
        color: #777
    }
    24.99%,
    29.16% {
        background-position: 0 0;
        color: #fff
    }
    33.33% {
        background-position: 100% 0;
        color: #777
    }
}

.admin .link__highlight .animate-swipe,
.service.colourway-custom .animate-swipe {
    background-size: 200% auto;
    background-position: 100% 0;
    background-color: transparent!important;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out
}

.admin .link__highlight .animate-swipe {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #777), color-stop(50%, transparent));
    background-image: linear-gradient(90deg, #777 50%, transparent 0);
    color: #777
}

.admin .link__highlight .animate-swipe.active,
.admin .link__highlight .animate-swipe:hover {
    -webkit-animation-name: animate-swipe-admin;
    animation-name: animate-swipe-admin
}

.service.theme.colourway-custom .animate-swipe {
    -webkit-animation-name: animate-swipe;
    animation-name: animate-swipe
}
