.notif{
    padding-top:50px; 
    padding-bottom:50px;
}
.carddash{
    margin: 35px 0 35px 0; 
    width:100%; 
    height:400px;
    background-color: #ffffff;
}
.textdash
{
    padding:100px 0 100px 0; 
    margin:0 auto ;
    text-align:center;
}
/*hr {
    height: .25rem;
    width: 25%;
    margin: 0;
    background: tomato;
    border: none;
    transition: .3s ease-in-out;
  }*/
.margin{
    margin-bottom:20px;  
}
.btn-biolinks{
    float: right;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
}
.btncreate{
  padding-top: 8px ;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 11px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 50px;
  margin-left: 20px;
}
  .btncreate:hover{
    text-decoration: none;
    color: #ffffff;
  }
  
.btnsingle{
  padding-top: 8px ;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 11px;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  border-radius: 50px;
  margin-left: 20px;
}
  .btnsingle:hover{
    text-decoration: none;
    color: #ffffff;
  }
.link:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    color:#4a9c1a;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
  }
  .link{
    position: relative;
    color:#4a9c1a;
  }
  
  .link:hover:after{
    width: 100%;
    left: 0;
    color:#4a9c1a;
    background: rgb(11, 155, 18);
  }
  .input-stack {
    margin-bottom: 20px;
  }
  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
hr.own {
    border-top: 3px solid #dbd6d6;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
 .messengers{
  margin-bottom: 50px;
 }
 .socialmedia{
  margin-bottom: 20px;
 }