@font-face { 
  font-family: SourceSansPro-Regular; 
  src: url("../fonts/SourceSansPro-Regular.otf");
} 

@font-face { 
  font-family: SourceSansPro-Bold; 
  src: url("../fonts/SourceSansPro-Bold.otf");
} 

@media screen and (max-width: 768px) {  
  .arrow {
    padding: 20px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
  }
}

.content-premiumid {
  border-radius:0px;
}

.header-premiumid {
  border-bottom: none;
  border-top: 7px solid #106BC8;
  border-radius: 0px;
}

.btn-premiumid, .btn-beli-premium {
  font-size: 19px;
  font-weight: 700;
}

.font-premiumid {
  font-family: SourceSansPro-Bold; 
  font-size: 17px;
  color: #106BC8;
}

.font-premiumid.big {
  font-size: 25px;
}

.btn-preview {
  background-color: #fff;
  color: #106BC8;
  border: 1px solid #106BC8;
  border-radius: 0px;
  font-weight: 700;
}

.btn-save-preview {
  background-color: #106BC8;
  color: #fff;
  border: 1px solid #106BC8;
  border-radius: 0px;
  font-weight: 700;  
}

.preview-mobile {
  position: fixed; 
  top: 0; 
  z-index: 31; 
  width: 100%; 
  height:100%; 
  overflow: auto;
  transition: top 0.5s ease;
  -webkit-transition: top 0.5s ease;

  /*-webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: slideup;
  animation-name: slideup;*/
}

.preview-mobile.preview-none {
  top: 100%;
}

.btn-mobile {
  position: fixed; 
  bottom: 0;
  padding: 0px;
  z-index: 40;
  width: 100%;
  margin-left: -27px;
}

@media screen and (min-width: 768px) {  
  .btn-mobile{
    margin-left: -143px;
  }

  .preview-mobile {
    margin-left: -65px;
  }
}

.container {
  /*margin-top: 80px;*/
}

.menu-mobile {
  display: none;
}

.pagination {
  justify-content: flex-start;
}

@media screen and (max-width: 767px) {
  .container {
    /*margin-top: 110px;*/
  }
  .body-content-mobile{
    margin-top: 100px;
  }

  .status-account-info{
    margin-top: 95px;
  }

  .menu-nomobile{
    display: none;
  }

  .menu-mobile {
    display: block;
  }

  .pagination {
    justify-content: center;
  }
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
}

.fa-search {
  width: 15px;
  margin: -25px 10px;
  float: right;
}  

.div-click { 
  font-size: 25px;
  height:300px;
  line-height:300px;
}

.span-click {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 100%;
}

#total-click {
  font-size: 70px;
  color: #106BC8;
  font-family: SourceSansPro-Bold; 
}

@media screen and (max-width: 767px) {
  .div-click{
    font-size: 20px;
    height: auto;
    line-height: normal;
  }

  .notif {
    padding:50px 0 0 0 !important;
  }
}

.click-page {
  font-size: 22px;
  font-family: SourceSansPro-Bold;   
}

.card-gray {
  background-color: #EBEBEB;
}
.card-none {
  background: transparent;
  border:none;
}
.card-none .card-header, .card-none .card-body {
  border: 1px solid rgba(0,0,0,.125);
}
.card-none .card-body {
  background-color: #fff;  
}
.carddash
{
  margin: 0px 0 35px 0; 
  background-color: #F6F6F6;
}
.view-wa {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #555555;
}
.view-wa:hover {
  color: #3490dc;
}

.noshow {   
  padding: 100px 0 100px 0;
  margin: 35px 0 35px 0; 
  background-color: #F6F6F6;
}

.textdash {
  font-size: 28px;
  font-weight: 600;  
}

.form-controll {
  display: inline;
  width: auto;
  font-size: .9rem;
  background-color: #F2F2F2;
}
.form-cari{
  background-color: #F2F2F2;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
.imga {
  width: 27px;
  height: 72px;
  border-radius: 60%;
}

.picture-container{
  position: relative;
  cursor: pointer;
  text-align: center;
}
.picture{
  width: 106px;
  height: auto;//ganti ke 106px supaya ada background gray 
  background-color: #999999;
  border: 4px solid #CCCCCC;
  color: #FFFFFF;
  border-radius: 50%;
  margin: 0px auto;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.picture:hover{
  border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover{
  border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
  border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
  border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
  border-color: #ff3b30;
}
.picture input[type="file"] {
  display: none;
/*
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
  */
}

.picture-src{
  width: 100%;

}
/*Profile Pic End*/
.margin{
  margin-bottom:20px;  
}

.btn-biolinks{
  /*float: right;
  margin-right: 16px;*/
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  font-weight: 600;
}

/* Dashboard */
.btncreate{
  cursor: pointer;
  padding: 12px 10px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 50px;
  border:none;
  box-shadow: 0 1px 2px 0 rgba(75, 75, 75, 0.50);
}

.btncreate.btn-console {
  padding: 12px 30px;
  border-radius: 50px;
}

.btncreate:hover{
  box-shadow: 1px 3px 4px 1px rgba(75, 75, 75, 0.6);
}

.btncreate:active,
.btncreate:focus,
.btncreate.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: 1px 3px 4px 1px rgba(75, 75, 75, 0.6);
}

.btnbio {
  background-color: #106BC8;
  color: #ffffff;
}

.btnsingle{
  margin-left: 10px;
  background-color: #FBCE2D;
  color: #505050;
}

@media screen and (max-width: 767px) {
  .div-btn{
    position: fixed;
    top: 80px;
    z-index: 20;
  }

  .btncreate {
    border-radius: 0px;
  }

  .btnsingle {
    margin-left: 0px;
  }

  .textdash{
    font-size: 25px;
  }
}

.btn-copylink:hover, .btn-copy:hover{
  color: #6EB1F7;
}

.picture-sm {
  width: 70px; 
  height: 70px; 
  background-color: #999999;
  border: 4px solid #CCCCCC; 
  color: #FFFFFF; 
  border-radius: 50%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
  height: 30px;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  height: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
hr.own {
  border-top: 3px solid #dbd6d6;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.socialmedia{
  margin-bottom: 20px;
}

.project-tab {
  /*padding: 10%;
  margin-top: -8%;*/
}
.project-tab #tabs{
  background: #007b5e;
  color: #eee;
}
.project-tab #tabs h6.section-title{
  color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #0062cc;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 3px solid !important;
  font-size: 16px;
  font-weight: bold;
}
.nav-item.sub-nav .nav-link.active {
  color: #fff;
  background-color: #0062cc;
  border-bottom: 3px solid #0062cc !important;
}
.project-tab .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border-bottom: none;
  color: #106BC8;
  font-size: 16px;
  font-weight: 600;
}
.project-tab .nav-link:hover {
  border: none;
}
.project-tab thead{
  background: #f3f3f3;
  color: #333;
}
.project-tab a{
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.back-link {
  color: #3490dc !important;
  text-decoration: none !important;
  background-color: transparent !important;
  -webkit-text-decoration-skip: objects !important;
}

.back-link:hover {
  color: #1d68a7 !important;
  text-decoration: underline !important;
}

.nav-tabs{
  border-bottom: none;
}
.nav-tabs.sub-nav {
  border-bottom: 3px solid #0062cc;
}

.mobile{
  width: 301px;
  /*height: 586px;*/
  height: 100%;
  background:#F0F1F1;
  border-radius: 30px;
  border:2px solid rgba(0,0,0,.3);
  box-shadow: inset 0 0 8px rgba(0,0,0,.3);
}
.mobile1{
  width: 296px;
  /*height: 580px;*/
  height: calc(100% - 3px);
  background:#000000;
  border-radius: 30px;
  border:2px solid rgba(0,0,0,.3);
  box-shadow: inset 0 0 8px rgba(0,0,0,.3);
}
.screen
{
  margin-top: 31px;
  position: relative;
  background: #ffffff;
  width: 288px;
  /*height: 568px;*/
  height: calc(100% - 5px);
  top: -54px;
  margin:58px auto;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: inset 0 0 8px rgba(0,0,0,.3);
}
.home{
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background: #fff;
  box-shadow: inset 0 0 7px rgba(0,0,0,.1);
  border-radius:50%;
  border:2px solid #cecece;
  box-sizing: border-box;
  cursor: pointer;
}

.fixed{
  position: fixed;
  top: 50%;
  left: 50%;
  height: 90%;
  margin-left: 130px;
  margin-top: -290px;
  z-index: 40;
}

.preview-center {
  height: 100%;
}

@media screen and (min-height: 945px) {
  .fixed { 
    height: 65%;
  }
}

@media screen and (min-height: 1180px) {
  .fixed { 
    height: 50%;
  }
}

@media screen and (max-width: 768px) {
  .screen {
    width: 100%;
    height: calc(100% - 37px);
    margin: 0px;
    top: 0;
    border-radius: 0px;
  }

  .mobile {
    /*display: none;*/
  }

  .project-tab .nav-link, .nav-tabs .nav-link.active, label.caption {
    font-size: 14px;
  }

  .card-body {
    padding:10px;
  }

  .nav-link {
    padding: 5px;
  }
}

/*.powered-omnilinks {
  text-align: center;
  font-size: large;
  margin-bottom: 10px;
  position: relative;
  z-index: 10;
  }*/

/*.powered-omnilinks a {
  color: inherit;
  text-decoration: none;
}

.powered-omnilinks a:hover,
.powered-omnilinks a:active,
.powered-omnilinks afocus {
  color: inherit;
  text-decoration: none;
  }*/
/*
.powered-omnilinks .logo {
  font-size: 1.2em;
}
*/
.sortable-msg,
.sortable-link,
.sortable-sosmed {
  list-style-type: none;
  margin-left: -40px;
}

.handle {
  cursor: move;
  padding: 10px;
}

.theme-take {
  /*width: 19%;*/
  display: inline-block;
  padding: 10px;
  border: 2px solid transparent;
  transition: all .15s ease-in-out;
}

.mrgtp {
  margin-top: 3.25rem !important;
}

.roundedview .btnview {
  border-radius: 50px;
}

.outlinedview .btnview {
  background: transparent;
  color: #fff;
  border-color: #fff;
}

.outlinedview .btnview:hover{
 background: #ffff;
}
.outlinedview .txtspan{
 color: #fff;
 font-size: smaller;
 border-color: #fff;
}

.outlinedview .txtspan:hover{
 background: #ffff;
 font-size: smaller;
 color: #000000 ;
}
.rows{
  margin-top: -15px;
}
.rows .linked {
  display: inline-block;
  font-size:xx-large;
  padding: 0.3em 0.8em;
  margin: 0;
  width: 21.333%;
  text-align: center; }

  .mySlides {
    display: none
  }
  img {
    vertical-align: middle;
  }

  /* Slideshow container */
  .slideshow-container {
    /*width: 259px;*/
    position: relative;
    margin: auto;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .dot {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .activated, .dot:hover {
    background-color: #717171;
  }
  .fit {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .imagesize{
    width:100%;
    height: 117px;
  }

  .div-table {
    display: table;
    width: 100%;
  }

  .div-cell {
    display: table-cell;
    vertical-align: middle;
  }

  .div-cell.cell-btn{
    text-align: center;
    background-color: #fff;
    min-width: 35px;
    border: 1px solid #ced4da;
    cursor: pointer;
  }
.messengers 
 {
  margin-bottom: 15px;
  clear: both; 
}
 
  .messengers.links-num-4 .link
  {
    max-width :24.33333%;
  }
  .messengers.links-num-3 .link 
  {
    max-width: 33.33333%; 
  }
  .messengers .btn .fa-network + span 
  {
    display: none;
  }
  .messengers.links-num-1 .link
  {
    max-width: 100%; 
  }
  .messengers.links-num-1 .link:nth-of-type(1) .btn .fa-network + span
  {
    display: inline-block;
   }
  .messengers.links-num-2 .link 
  {
    max-width: 50%; 
  }
  .messengers .link 
  {
    display: inline-block;
    width: 100%; 
  }
  .links 
  {
    clear: both;
    padding: 0;
    margin: -0.31em;
    margin-bottom: 0.62em;
  }
  .links .link 
  {
    list-style-type: none;
    /*margin-bottom: 0.62em;
    padding: 0 0.31em; */
    padding: 5px;
  }
  .links .link.highlight 
  {
    animation: 5s tada 0.5s infinite linear; 
  }
  .links .link.highlight:focus, .links .link.highlight:active, .links .link.highlight:hover 
  {
    animation: none;
  }
  .links .link .btn 
  {
    font-weight: 700; 
  }


  .form-control{
    border-radius: unset;
  }
  .messengers.links-num-2 .link 
  {
    max-width: 49%; 
  }
  .messengers.links-num-1 .link
  {
    max-width: 99%; 
  }
  .messengers.links-num-3 .link 
  {
    max-width: 32.33333%; 
  }

.hide {
  display : none!important;
}
ul {
  list-style: none;
}
#wizardPicturePreview-delete{
  z-index:999!important;
}