.notif{
    padding-top:50px; 
    padding-bottom:50px;
}
.carddash{
    margin: 35px 0 35px 0; 
    width:100%; 
    height:400px;
    background-color: #ffffff;
}
.textdash
{
    padding:100px 0 100px 0; 
    margin:0 auto ;
    text-align:center;
}
hr {
    height: .25rem;
    width: 25%;
    margin: 0;
    background: tomato;
    border: none;
    transition: .3s ease-in-out;
  }
.margin{
    margin-bottom:20px;  
}
.btn-biolinks{
    float: right;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
}
  
.link:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    color:#4a9c1a;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
  }
  .link{
    position: relative;
    color:#4a9c1a;
  }
  
  .link:hover:after{
    width: 100%;
    left: 0;
    color:#4a9c1a;
    background: rgb(11, 155, 18);
  }
  .input-stack {
    margin-bottom: 20px;
  }