@font-face { 
  font-family: opensans; 
  src: url("../fonts/OpenSans-Regular.ttf");
}

 @font-face { 
  font-family: opensanslight; 
  src: url("../fonts/OpenSans-Light.ttf");
} 

@font-face { 
  font-family: opensansbold; 
  src: url("../fonts/OpenSans-Bold.ttf");
} 

@font-face { 
  font-family: opensansxbold; 
  src: url("../fonts/OpenSans-ExtraBold.ttf");
} 

/* CSS Document */
body,
html {
  width: 100%;
  height: 100%;
  background-image: none;
}


/*SETUP*/
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: opensanslight, sans-serif;
  /*font-family: SourceSansPro-Regular, sans-serif;*/
  font-weight: 700;
}

thead {
  background-color: #FCFCFC;
  border-bottom: none;
}

table tr {
  border:none;
}

/*HR*/
hr.orn {
  border-top: 3px solid #2D7CCE;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

hr.wh {
  border-top: 1px solid #fff;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

span {
  color: #3B3B3B;
}

.opl {
	font-family : opensanslight;
}

.opb {
	font-family : opensansbold;
}

.opx {
	font-family : opensansxbold;
}

.bg-kupon {
  background : url('../image/bg-white-motive.png') no-repeat;
  background-position: 0 60%;
  background-size: cover;
}

/* KUPON STYLING */

.fix-col {
  padding-left : 0 !important;
  padding-right : 0 !important;
}

.fix-row {
	margin-left : 0 !important;
	margin-right : 0 !important;
}

/* Banner promo */
.banner-promo {
  background-color: #2e7cc0;
  font-size : 36px;
  padding : 63px;
  color : #fff;
  text-transform : uppercase;
  text-align : center;
}

/* Searchbox */
.searchbox {
  padding: 35px 20px;
}

.search-style {
	border : 1px solid #000;
	max-width: 275px;
}

.kupon-form-sel {
	float : right;
}

.kupon-select {
	border : 1px solid #000;
	min-width : 250px;
}

.btn-kupon-src {
	background : transparent;
	border-right : 1px solid #000;
	border-top : 1px solid #000;
	border-bottom : 1px solid #000;
}

/* Kupon Box style */
.col-box{
  padding: 12px;
}

.col-box-shadow{
   box-shadow: 17px 19px 11px -14px rgba(130, 130, 130, 0.5);
   border-bottom-left-radius : 10px;
   border-bottom-right-radius : 10px;
}

.kupon-image {
	float : left;
	width : 16.67%
}

.kupon-exp {
	float : left;
	width : 50%
}

.kupon-paste {
	float : left;
	width :25%
}

.kupon-board{
  letter-spacing : 2px;
  background : #2e7cc0;
  padding : 61px 10px;
  text-transform : uppercase;
  color : #fff;
  border-top-left-radius : 10px;
  -moz-border-top-left-radius : 10px;
  -o-border-top-left-radius : 10px;
  -webkit-border-top-left-radius : 10px;
  border-top-right-radius : 10px;
  -moz-border-top-right-radius : 10px;
  -o-border-top-right-radius : 10px;
  -webkit-border-top-right-radius : 10px;
}

.kupon-desc {
	text-transform : capitalize;
	font-weight : 700;
	font-family : opensansbold;
	letter-spacing: -1px;
	margin-top :10px;
	margin-bottom :1rem;
	text-align : justify;
	font-size : 16px;
}

.kupon-valid {
	margin-bottom :5px;
	margin-left :auto;
	margin-right :auto;
}

.kupon-kode {
	text-transform : uppercase;
	color : #ed1f24
}

.kupon-timer {
	background : url('../image/kupon/timer.png') no-repeat;
	color : #fff;
	padding-left: 18px;
}

.btn-kupon {
	  border: #028e46;
	  border-radius: 8px;
	  background-color:  #028e46;
	  color: #fff !important;  
	  padding: 5px 30px; 
	  outline: none;
}

.btn-kupon:hover {
	  border:1px solid #028e46;
	  background-color:  #fff ;
	  color: #028e46!important;   
	  display : block
}

.btn-kupon-copy {
	 border:1px solid #000;
	 color: #000!important;  
	 font-weight : 700;
	 border-radius : 5px;
}

.btn-kupon-copy:hover {
	 border:1px solid #000;
	 color: #fff!important;  
	 background-color : #000;
}

/* FAQ */
.bg-kupon-faq {
  background : url('../image/bg-white-motive-mid.jpg') no-repeat;
  font-family: opensanslight;
  background-size: cover;
}

/* Support */
.support-kupon {
  text-align: center;
  border-top : 1px solid #000;
  font-family: opensanslight;
  margin-top : 5rem;
}

.support-kupon h3{
  font-family: opensanslight;
  padding : 40px;
}

.support-kupon b{
  font-family: opensansbold;
}

.btn-support-kupon {
  margin-top: -10px;
  font-size: 19px;
  color: #fff !important;
  background-color: #2e7cc0;
  border-radius: 30px;
  padding: 5px 15px;
  cursor: pointer;
}

.btn-support-kupon:hover {
  color: #2e7cc0 !important;
  background-color: #fff;
  border-color: #2e7cc0;
}

/* END KUPON STYLING */

@media screen and (max-width: 991px) {
	
	.searchbox label{
		margin-top : 1rem;
	}
	
	.kupon-select {
		width : 300px !important;
	}
	
	.kupon-desc {
		text-align : center;
	}
	
	.kupon-form-sel, .kupon-valid {
		float : none;
		max-width: 300px;
		margin-right: auto;
		margin-left: auto;
	}
	
   .bg-kupon {
	    margin-top: 83px;
   }
   
   .bg-kupon-faq h3 {
	   margin-top: 1rem;
	   margin-bottom: 2rem;
	   font-size : 18px;
  }
  
  .support-kupon {
	  margin-top : 0;
  }
  
  .support-kupon h3 {
	  padding : 0;
  }
  
  .support-kupon a {
	  margin-top : 10px;
  }
}