@font-face { 
  font-family: SourceSansPro-Regular; 
  src: url("../fonts/SourceSansPro-Regular.otf");
} 

@font-face { 
  font-family: SourceSansPro-Bold; 
  src: url("../fonts/SourceSansPro-Bold.otf");
} 

@font-face { 
  font-family: opensanslight; 
  src: url("../fonts/OpenSans-Light.ttf");
} 


/*
* {
  font-family: SourceSansPro-Regular;  
}

img {
  width: 100%;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

 .alert {
  display: none;
}*/

.main-cont {
  margin-top:45px;
  min-height:575px;
}

.wa-number-style {
  background-color: #106ac7;
  color : #fff;
}

#description {
  padding-left : 5px;
  background: #fff;
  font-weight : 100;
  height : 80px;
  border : 1px solid #ced4da;
  overflow : auto;
}

@media only screen and (max-width: 767px) {
  .main-cont {
    margin-top:105px;
  }  
}
@media only screen and (max-width: 767px) {
  .main-cont {
    margin-top:150px;
  }  
}

/* Navbar */
.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu {
  border-radius: 0px;
  border:none;
  background-color: #F2F2F2;
  font-family: opensanslight; 
}

.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover {
  background-color: #056728;
  color: #fff;
}

/* Sorter */
th.header {   
  background-image: url("../image/sorter.png");
  cursor: pointer; 
  background-repeat: no-repeat; 
  background-position: center right;
  background-size: 10px 15px; 
}

th.desc { 
  background-image: url("../image/sorterdesc.png"); 
  background-size: 10px 9px; 
}  

th.asc { 
  background-image: url("../image/sorterasc.png"); 
  background-size: 10px 9px; 
}

/* table */
.table td, .table th{
  border: none;
}

.table thead th {
  background-color: #F0F0F0;
  border: none;
}

table tr:nth-child(odd) td {
  background-color:#F6F6F6;
}

table tr:nth-child(even) td {
 background-color:#F0F0F0;
}

.wachattable.table-bordered > thead > tr > th, .wachattable.table-bordered > tbody > tr > td{
  border:1px solid #d5dade !important;
}

/* Green button on header */
.btn-bio {
  background-image: linear-gradient(rgb(7, 165, 10), rgb(7, 165, 10)) !important;
  background-position: 50% 50% !important;
  padding: 8px 40px !important;
  border-radius: 100px;
  color : #fff !important;
  font-family: opensansxbold;
  font-size: 16px;
}

.btn-bio:hover {
  background-image: linear-gradient(rgb(51, 145, 188), rgb(51, 145, 188)) !important;
  color : #fff !important;
}

/* admin-catalog */
.catalog-image {
  width: 100%;
  max-width: 100px;
}

/* loader */
.background-load {
  background-color: #a39f9f;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999999999999;
  opacity: 0.7;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999999999999999999;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* WA CHAT */

.del_chat_member, .del_chat_member > i, .edit_wa_member {
  cursor : pointer;
}

.chat_photo_hide {
  display : none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

@media only screen and (max-width: 1700px) {
  .header-status-account{
    font-size:20px;
  }
  .content-status-account{
    font-size:15px;
  }
}

@media only screen and (max-width: 600px) {
  .header-status-account{
    font-size:20px;
  }
  .content-status-account{
    font-size:12px;
  }
}