/* 
  Proof 
  created : tue 03-Nov-2020;
*/

.proof-box,.proof-box-preview {
 margin-left : auto;
 margin-right : auto;
 margin-bottom : 10px;
 text-align: center;
}

.proof-wrapper, .proof-wrapper-preview {
  position: relative;
  color : #000;
  width : 100%;
  max-width : 360px;
  height : auto;
  background-color: #fff;
  border : 2px solid #f7f7f7;
  border-radius : 10px;
  padding : 10px;
  display : none;
  top : 50px;
  /*display : inline-flex;*/
}

.proof-desc small i, .proof-wrapper-preview small svg {
  color : #26C281 !important;
}

.proof_image img {
  width : 100%;
  max-width : 100px;
}

.proof-desc{
  text-align: left;
  padding-left : 15px;
  width : 100%;
}

.proof_profile {
  display : flex;
}

.proof_star,.proof_star_preview {
  text-align: right;
  width : 40%;
  margin-top: -4px;
  color : #ffc100 !important;
  font-size : 10px;
}

.proof_name,.proof_name_preview {
  font-weight : bold;
  line-height: 12px;
  width : 80%;
  font-size : 14px;
}

.proof_comments,.proof_comments_preview {
  line-height : 17px;
  padding-top : 6px;
  font-style: italic;
  font-size : 12px;
}

/* Preview */

.proof-box-preview {
  width : 100%;
  position: relative;
}

.proof_name_preview {
  font-size:9px;
}

.proof_star_preview {
  margin-top: -1px;
  font-size:8px;
}
 
.proof_comments_preview {
  font-size:8px;
  line-height : 14px;
}

.proof-wrapper-preview .proof_image img {
  max-width : 90px;
}

@media(max-width:414px){
  .proof-box {
    padding : 0 !important;
  }

  .proof_star {
    margin-top : -3px;
  }

  .proof_name{
    font-size: 12px;
  }
}

@media(max-width:379px) {

  .proof_comments,.proof_name {
    font-size : 12px;
  }

  .proof_comments {
    line-height : 17px;
  }
  
  .proof_star {
    margin-top: -3px;
    font-size: 9px;
  }
}

@media(max-width:360px) {
  .proof_name{
    min-width : 100px;
    font-size : 12px;
  }

  .proof_star {
    width: 35%;
    margin-top: -3px;
    font-size: 9px;
  }

  .proof_comments{
    line-height: 18px;
    padding-top: 5px;
    font-size: 11px;
  }
}

@media(max-width:330px) {
  .proof_name {
    font-size : 10px;
    width: 64%
  }

  .proof_star {
    width: 32%;
    margin-top: -1px;
    font-size : 7px;
  }

  .proof_comments{
    padding-top : 0;
    line-height: 14px;
    padding-top : 7px;
    font-size : 9px;
  }
}