/* 
  Proof 
  created : tue 03-Nov-2020;
*/

.proof-box {
  position: absolute;
  top : 10px;
  left : 10px;
  z-index : 90;
  width : 100%;
}

.proof-wrapper {
  position: absolute;
  color : #000;
  width : 100%;
  max-width : 360px;
  height : auto;
  background-color: #fff;
  border : 2px solid #f7f7f7;
  border-radius : 10px;
  padding : 15px;
  display : inline-flex;
  top : 0;
  left : 0;
}

.proof_image img {
  width : 100%;
  max-width : 65px;
}

.proof-desc{
  padding-left : 15px;
  width : 100%;
}

.proof_profile {
  display : flex;
}

.proof_star {
  text-align: right;
  width : 40%;
  margin-top: -6px;
  color : #ffc100 !important;
}

.proof_name {
  font-weight : bold;
  line-height: 12px;
  width : 60%;
}

.proof_comments {
  line-height : 20px;
}

@media(max-width:379px) {
  .proof-box {
    left : 0;
  }

  .proof_comments,.proof_name {
    font-size : 12px;
  }

  .proof_comments {
    line-height : 17px;
  }
  
  .proof_star {
    margin-bottom: 2px;
  }
}