@font-face { 
  font-family: SourceSansPro-Light; 
  src: url("../fonts/SourceSansPro-Light.otf");
} 

@font-face { 
  font-family: SourceSansPro-Regular; 
  src: url("../fonts/SourceSansPro-Regular.otf");
} 

@font-face { 
  font-family: SourceSansPro-Semibold; 
  src: url("../fonts/SourceSansPro-Semibold.otf");
} 

@font-face { 
  font-family: SourceSansPro-Bold; 
  src: url("../fonts/SourceSansPro-Bold.otf");
} 

/* CSS Document */
body,
html {
  width: 100%;
  height: 100%;
  background-image: none;
}


/*SETUP*/
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SourceSansPro-Regular, sans-serif;
  font-weight: 700;
}

thead {
  background-color: #FCFCFC;
  border-bottom: none;
}

table tr {
  border:none;
}

/*HR*/
hr.orn {
  border-top: 3px solid #fff;
  width: 10%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

hr.wh {
  border-top: 1px solid #fff;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

span {
  color: #3B3B3B;
}

.card {
  background-color: #F8F8F8;
}

/*PAGE TITLE*/
.page-title {
  /*background-image: url(../design/new-bg.jpg);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 300px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.page-title h1 {
  text-align: center;
  color: #1B8AF3;
  font-size: 48px;
  font-weight: 600;
}

.pg-title {
  padding-top: 30px;
  text-align: center;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  color: #505050;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
}

.pg-title.small{
  font-size: 20px;
}

/* Button tahunan bulanan */
.btn-pricing {
  border:2px solid #1E88F5;
  border-radius: 25px;
  background-color: #1E88F5;
  color: #fff; 
  padding: 5px 30px; 
  /*box-shadow: 0 1px 5px 0 rgba(183,183,183,0.50);*/
  outline: none;
}

.btn-pricing:hover {
  background-color: #1E88F5;
  color: #fff; 
  border:2px solid #1E88F5;
}

.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-secondary.dropdown-toggle {
  background-color: #fff;
  color: #44698A;
  border:2px solid #1E88F5;
}

.btn-group {
  padding-left: 10px;
  padding-right: 10px;
}

/* Upgrade Account */
.card {
  box-shadow: 0 1px 5px 0 rgba(183,183,183,0.50);
  margin-bottom: 20px;
}

.header-pricing {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 80px;
  z-index:10;

}

sub {
  font-size: 20px;
}
sup {
  font-size: 60%;
}

.upgrade-details2 {
  line-height: 2;
}

.card-ribbon {
  overflow: hidden;
}

/* The ribbons */
.corner-ribbon{
  width: 200px;
  position: absolute;
  text-align: center;
  line-height: 35px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Different positions */
.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Colors */
.corner-ribbon.green {
  background: #0DA434; 
}

.corner-ribbon.orange {
  background: #F6A82A;
}

.view-premium, .view-pro {
  line-height: 1.5; 
}

.header-top {
  background-color: #fff;
  color: #505050;  
  margin-top: -12px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  font-size: 20px;
}

.icon-upgrade {
  font-size: 19px;
}

.sbold {
  font-family: SourceSansPro-Bold;
}

.hemat {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #4D91D6;
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.harga-real {
  /*font-size: 20px;*/
  font-size: 16px;
  font-weight: bold;
}

.upgrade-details{
  font-size: 17px;
  padding: 55px 20px;
  border: 1px solid #EDEDED;
}

.upgrade-radio {
  font-size: 18px;
}

.btn-upgrade-big {
  /*background-color: #FEBE54;
  color: #505050;
  border-radius: 25px;
  padding-left: 95px;
  padding-right: 95px;
  font-weight: 900;*/

  color: #fff;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-upgrade-big.small, .btn-upgrade-big.med {
  margin-top: 10px;
  margin-bottom: 0px;
}

.link-pro,.link-premium,.link-free {
  text-decoration: none !important;
}

.btn-upgrade-big.pro {
  background-color: #0DA434;
}

.btn-upgrade-big.premium {
  background-color: #F6A82A;
}

.btn-upgrade-big.free {
  background-color: #BCBCBC;
}

.gray-color {
  color: #8D8D8D;
}

.green-color{
  color: #0DA335;
}

.orange-color{
  color: #F6A82A;
}

.red-color{
  color: #B40707;
}

.upgrade-pro {
  background-image: linear-gradient(-136deg, #0E76EF 0%, #2E8DF6 52%, #137BF5 100%);
  border-bottom: 10px solid #106BC8;
  color: #fff;
}

.upgrade-premium {
  background-image: linear-gradient(-135deg, #762CD8 0%, rgba(161,89,255,0.99) 49%, rgba(116,43,212,0.99) 100%);
  border-bottom: 10px solid #6010C7;
  color: #fff;
}

.blue {
  color: #248BF6;
}

.harga {
  font-family: SourceSansPro-Bold;
  font-size: 41px;
}

.header-1 {
  font-size: 19px;
}

.view-more-pro, .view-more-premium {
  color: #3490dc;
}

@media screen and (min-width: 1024px) {
  .harga {
    font-size: 35px;
  }
} 

@media screen and (min-width: 769px) {
  .info-member {
    position: absolute; 
    margin-bottom:5px;
    bottom:0px;
    right:15px;
  }

  .card.primary {
    top: -214px;
    z-index: 2;
  }

  .card.secondary {
    top: -168px;
  }
}

@media screen and (max-width: 769px) {
  .card-body.pricing {
    padding: 10px;
  }

  .btn-upgrade-big.small {
    /*font-size: 18px;
    padding-left: 70px;
    padding-right: 70px;*/
    font-size: 16px;
  }

  .btn-upgrade-big.med {
    font-size: 18px;
  }

  .card-header.upgrade-pro, .card-header.upgrade-premium {
    padding: 10px;
  }

  .header-1 {
    font-size: 17px;
  }

  .page-title {
    margin-bottom: 40px;
    padding-bottom: 80px;
  }

  .header-top {
    margin-left: -11px;
    margin-right: -11px;
    font-size: 14px;
  }

  .harga-small {
    font-size: 17px;
  }

  .harga-med {
    font-size: 28px;
  }

  sub {
    font-size: 12px; 
  }
 
  .sbold.small {
    font-family: SourceSansPro-Regular;
    font-size: 16px;
    font-weight: 600;
  }
}

@media screen and (max-width: 360px) {
  .upgrade-radio {
    font-size: 17px;
  }
}