.colorgradient1
{
  background-image: linear-gradient(339deg, #21d4fd, #b721ff);
}
.colorgradient2
{
  background-image: linear-gradient(134deg, #00b4db, #1094c2);
}
.colorgradient3
{
	background-image: linear-gradient(139deg, #25b7b2, #3b9893);
}
.colorgradient4{
	background-image: linear-gradient(133deg, #fc7a3c, #ed4d55);
}
.colorgradient5{
	background-image: linear-gradient(312deg, #aa19e7, #2333bf);
}
.colorgradient6{
	 background-image: linear-gradient(133deg, #ae92d3, rgba(153, 85, 242, 0.99));
}
.colorgradient7{
	  background-image: linear-gradient(to bottom, #f7971e, #ffd200);
}
.colorgradient8{
	 background-image: linear-gradient(45deg, #05a907, #17abaa);
}
.colorgradient9{
	 background-image: linear-gradient(229deg, #ff4e50, #ff8158 41%, #f9d423);
}
.colorgradient10{
	 background-image: linear-gradient(229deg, #1353b9, #38aee9 44%, #0ae68f);
}
.colorgradient11{
	 background-image: linear-gradient(229deg, #1353b9, #38aee9 44%, #0ae68f);
}
.colorgradient12{
	background-image: linear-gradient(134deg, #0e76ef, #4497f1 52%, #137bf5);
}
.colorgradient13{
	background-image: linear-gradient(45deg, #2c1872, rgba(186, 55, 143, 0.98) 38%, rgba(235, 96, 79, 0.97) 66%, rgba(250, 218, 93, 0.95));
}
.colorgradient14{
	background-image: linear-gradient(to bottom, #1a2980, #26d0ce);
}
.colorgradient15{
	background-image: linear-gradient(to bottom, #52c234, #061700);
}
.colorgradient16{
	background-image: linear-gradient(to bottom, #e65c00, #f9d423);
}
.colorgradient17{
	background-image: linear-gradient(to bottom, #4ecdc4, #556270);
}
.colorgradient18{
	background-image: linear-gradient(to bottom, #f7ff00, #db36a4);
}
.colorgradient19{
	background-image: linear-gradient(to bottom, #1e3c72, #2a5298);
}
.colorgradient20{
	background-image: linear-gradient(to bottom, #1d976c, #93f9b9);
}
.colorgradient21{
	background-image: linear-gradient(133deg, #c2ffd8, #465efb);
}
.colorgradient22{
	 background-image: linear-gradient(133deg, #97abff, #123597);
}
.colorgradient23{
	 background-image: linear-gradient(133deg, #3b2667, #bc78ec);
}
.colorgradient24{
	 background-image: linear-gradient(133deg, #dac72c, #49c628);
}
.colorgradient25{
	 background-image: linear-gradient(133deg, #f761a1, #8c1bab);
}
.colorgradient26{
	 background-image: linear-gradient(133deg, #ffdb01, #0e197d);
}
.colorgradient27{
	 background-image: linear-gradient(133deg, #f05f57, #360940);
}
.colorgradient28{
	background-image: linear-gradient(133deg, #ff6fd8, #3813c2);
}
.colorgradient29{
	background-image: linear-gradient(133deg, #ffa8a8, #fcff00);
}
.colorgradient30{
	 background-image: linear-gradient(133deg, #3c8ce7, #00eaff);
}
.colorgradient31{
	 background-image: linear-gradient(to top, #7028e4, #e5b2ca);
}
.colorgradient32{
	 background-image: linear-gradient(to bottom, #fbc2eb, #a18cd1);
}
.colorgradient33{
	 background-image: linear-gradient(to top, #ffb199, #ff0844);
}
.colorgradient34{
	 background-image: linear-gradient(296deg, #fbab7e, #f7ce68);
}
.colorgradient35{
	  background-image: linear-gradient(227deg, #ae8b9c, #8baaaa);
}
.colorgradient36{
	 background-image: linear-gradient(227deg, #7de2fc, #b9b6e5);
}
.colorgradient37{
	 background-image: linear-gradient(to left, #b12a5b, #cf556c 25%, #ff8c7f 63%, #ff8177);
}
.colorgradient38{
	 background-image: linear-gradient(to left, #f9d423, #f83600);
}
.colorgradient39{
	 background-image: linear-gradient(to top, #009efd, #2af598);
}
.colorgradient40{
	 background-image: linear-gradient(to top, #04befe, #4481eb);
}
.colorgradient41{
	 background-image: linear-gradient(to bottom, #f857a6, #ff5858);
}
.colorgradient42{
	 background-image: linear-gradient(to left, #517fa4, #243949);
}
.colorgradient43{
	 background-image: linear-gradient(to top, #fa71cd, #c471f5);
}
.colorgradient44{
	 background-image: radial-gradient(circle at 50% 50%, #16d9e3, #46aef7);
}
.colorgradient45{
	background-image: linear-gradient(to left, #6a11cb, #2575fc);
}
.colorgradient46{
	background-image: linear-gradient(to left, #6a11cb, #2575fc);
}
.colorgradient47{
	background-image: linear-gradient(to top, #f9f047, #0fd850);
}
.colorgradient48{
	background-image: linear-gradient(to bottom, #00ecbc, #007adf);
}
.colorgradient49{
	 background-image: linear-gradient(227deg, #a445b2, #d41872 52%, #ff0066);
}
.colorgradient50{
	background-image: linear-gradient(to bottom, #56ab2f, #a8e063);
}
