.animation-core{
  background-color :#21d4fd!important;
  color:#fff;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
/*
Bubble folder
*/
.thumb-bubble-bg-blue
{
  background-image: url('../image/svg/bubble/thumbnail-bubble/thumb-bubble-bg-blue.png');
}
.animation-bubble-bg-blue
{
  background-image: url('../image/svg/bubble/bg-bubble/bubble-bg-blue.svg');
}
.thumb-bubble-bg-orange
{
  background-image: url('../image/svg/bubble/thumbnail-bubble/thumb-bubble-bg-orange.png');
}
.animation-bubble-bg-orange
{
  background-image: url('../image/svg/bubble/bg-bubble/bubble-bg-orange.svg');
}
.thumb-bubble-bg-pink
{
  background-image: url('../image/svg/bubble/thumbnail-bubble/thumb-bubble-bg-pink.png');
}
.animation-bubble-bg-pink
{
  background-image: url('../image/svg/bubble/bg-bubble/bubble-bg-pink.svg');
}
.thumb-bubble-bg-purple
{
  background-image: url('../image/svg/bubble/thumbnail-bubble/thumb-bubble-bg-purple.png');
}
.animation-bubble-bg-purple
{
  background-image: url('../image/svg/bubble/bg-bubble/bubble-bg-purple.svg');
}
.thumb-bubble-bg-yellow
{
  background-image: url('../image/svg/bubble/thumbnail-bubble/thumb-bubble-bg-yellow.png');
}
.animation-bubble-bg-yellow
{
  background-image: url('../image/svg/bubble/bg-bubble/bubble-bg-yellow.svg');
}
.thumb-bubble-bg-red
{
  background-image: url('../image/svg/bubble/thumbnail-bubble/thumb-bubble-bg-red.png');
}
.animation-bubble-bg-red
{
  background-image: url('../image/svg/bubble/bg-bubble/bubble-bg-red.svg');
}
.thumb-bubble-blue
{
  background-image: url('../image/svg/bubble/thumbnail-bubble/thumb-bubble-blue.png');
}
.animation-bubble-blue
{
  background-image: url('../image/svg/bubble/bg-bubble/bubble-blue.svg');
}
.thumb-bubble-brown
{
  background-image: url('../image/svg/bubble/thumbnail-bubble/thumb-bubble-brown.png');
}
.animation-bubble-brown
{
  background-image: url('../image/svg/bubble/bg-bubble/bubble-brown.svg');
}
.thumb-bubble-colorful
{
  background-image: url('../image/svg/bubble/thumbnail-bubble/thumb-bubble-colorful.png');
}
.animation-bubble-colorful
{
  background-image: url('../image/svg/bubble/bg-bubble/bubble-colorful.svg');
}
.thumb-bubble-green
{
  background-image: url('../image/svg/bubble/thumbnail-bubble/thumb-bubble-green.png');
}
.animation-bubble-green
{
  background-image: url('../image/svg/bubble/bg-bubble/bubble-green.svg');
}
.thumb-bubble-orange
{
  background-image: url('../image/svg/bubble/thumbnail-bubble/thumb-bubble-orange.png');
}
.animation-bubble-orange
{
  background-image: url('../image/svg/bubble/bg-bubble/bubble-orange.svg');
}
.thumb-bubble-purple
{
  background-image: url('../image/svg/bubble/thumbnail-bubble/thumb-bubble-purple.png');
}
.animation-bubble-purple
{
  background-image: url('../image/svg/bubble/bg-bubble/bubble-purple.svg');
}
.thumb-bubble-red
{
  background-image: url('../image/svg/bubble/thumbnail-bubble/thumb-bubble-red.png');
}
.animation-bubble-red
{
  background-image: url('../image/svg/bubble/bg-bubble/bubble-red.svg');
}
.thumb-bubble-soft
{
  background-image: url('../image/svg/bubble/thumbnail-bubble/thumb-bubble-soft.png');
}
.animation-bubble-soft
{
  background-image: url('../image/svg/bubble/bg-bubble/bubble-soft.svg');
}

/*
Bubble-up folder
*/
.thumb-bubble-up-bg-blue
{
  background-image: url('../image/svg/bubble-up/thumbnail-bubble-up/thumb-bubble-up-bg-blue.png');
}
.animation-bubble-up-bg-blue
{
  background-image: url('../image/svg/bubble-up/bg-bubble-up/bubble-up-bg-blue.svg');
}
.thumb-bubble-up-bg-brown
{
  background-image: url('../image/svg/bubble-up/thumbnail-bubble-up/thumb-bubble-up-bg-brown.png');
}
.animation-bubble-up-bg-brown
{
  background-image: url('../image/svg/bubble-up/bg-bubble-up/bubble-up-bg-brown.svg');
}
.thumb-bubble-up-bg-green
{
  background-image: url('../image/svg/bubble-up/thumbnail-bubble-up/thumb-bubble-up-bg-green.png');
}
.animation-bubble-up-bg-green
{
  background-image: url('../image/svg/bubble-up/bg-bubble-up/bubble-up-bg-green.svg');
}
.thumb-bubble-up-bg-pink
{
  background-image: url('../image/svg/bubble-up/thumbnail-bubble-up/thumb-bubble-up-bg-pink.png');
}
.animation-bubble-up-bg-pink
{
  background-image: url('../image/svg/bubble-up/bg-bubble-up/bubble-up-bg-pink.svg');
}
.thumb-bubble-up-bg-purple
{
  background-image: url('../image/svg/bubble-up/thumbnail-bubble-up/thumb-bubble-up-bg-purple.png');
}
.animation-bubble-up-bg-purple
{
  background-image: url('../image/svg/bubble-up/bg-bubble-up/bubble-up-bg-purple.svg');
}
.thumb-bubble-up-bg-red
{
  background-image: url('../image/svg/bubble-up/thumbnail-bubble-up/thumb-bubble-up-bg-red.png');
}
.animation-bubble-up-bg-red
{
  background-image: url('../image/svg/bubble-up/bg-bubble-up/bubble-up-bg-red.svg');
}
.thumb-bubble-up-blue
{
  background-image: url('../image/svg/bubble-up/thumbnail-bubble-up/thumb-bubble-up-blue.png');
}
.animation-bubble-up-blue
{
  background-image: url('../image/svg/bubble-up/bg-bubble-up/bubble-up-blue.svg');
}
.thumb-bubble-up-green
{
  background-image: url('../image/svg/bubble-up/thumbnail-bubble-up/thumb-bubble-up-green.png');
}
.animation-bubble-up-green
{
  background-image: url('../image/svg/bubble-up/bg-bubble-up/bubble-up-green.svg');
}
.thumb-bubble-up-lilac
{
  background-image: url('../image/svg/bubble-up/thumbnail-bubble-up/thumb-bubble-up-lilac.png');
}
.animation-bubble-up-lilac
{
  background-image: url('../image/svg/bubble-up/bg-bubble-up/bubble-up-lilac.svg');
}
.thumb-bubble-up-mocca
{
  background-image: url('../image/svg/bubble-up/thumbnail-bubble-up/thumb-bubble-up-mocca.png');
}
.animation-bubble-up-mocca
{
  background-image: url('../image/svg/bubble-up/bg-bubble-up/bubble-up-mocca.svg');
}
.thumb-bubble-up-orange
{
  background-image: url('../image/svg/bubble-up/thumbnail-bubble-up/thumb-bubble-up-orange.png');
}
.animation-bubble-up-orange
{
  background-image: url('../image/svg/bubble-up/bg-bubble-up/bubble-up-orange.svg');
}
.thumb-bubble-up-pink
{
  background-image: url('../image/svg/bubble-up/thumbnail-bubble-up/thumb-bubble-up-pink.png');
}
.animation-bubble-up-pink
{
  background-image: url('../image/svg/bubble-up/bg-bubble-up/bubble-up-pink.svg');
}
.thumb-bubble-up-red
{
  background-image: url('../image/svg/bubble-up/thumbnail-bubble-up/thumb-bubble-up-red.png');
}
.animation-bubble-up-red
{
  background-image: url('../image/svg/bubble-up/bg-bubble-up/bubble-up-red.svg');
}
.thumb-bubble-up-soft-color
{
  background-image: url('../image/svg/bubble-up/thumbnail-bubble-up/thumb-bubble-up-soft-color.png');
}
.animation-bubble-up-soft-color
{
  background-image: url('../image/svg/bubble-up/bg-bubble-up/bubble-up-soft-color.svg');
}

/*
Cloud folder
*/
.thumb-cloud-bg-blue
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-bg-blue.png');
}
.animation-cloud-bg-blue
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-bg-blue.svg');
}
.thumb-cloud-bg-cyan
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-bg-cyan.png');
}
.animation-cloud-bg-cyan
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-bg-cyan.svg');
}
.thumb-cloud-bg-green
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-bg-green.png');
}
.animation-cloud-bg-green
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-bg-green.svg');
}
.thumb-cloud-bg-orange
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-bg-orange.png');
}
.animation-cloud-bg-orange
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-bg-orange.svg');
}
.thumb-cloud-bg-pink
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-bg-pink.png');
}
.animation-cloud-bg-pink
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-bg-pink.svg');
}
.thumb-cloud-bg-purple
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-bg-purple.png');
}
.animation-cloud-bg-purple
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-bg-purple.svg');
}
.thumb-cloud-bg-red
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-bg-red.png');
}
.animation-cloud-bg-red
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-bg-red.svg');
}
.thumb-cloud-bg-yellow
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-bg-yellow.png');
}
.animation-cloud-bg-yellow
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-bg-yellow.svg');
}
.thumb-cloud-blue-orang
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-blue-orang.png');
}
.animation-cloud-blue-orang
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-blue-orang.svg');
}
.thumb-cloud-brown
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-brown.png');
}
.animation-cloud-brown
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-brown.svg');
}
.thumb-cloud-gold
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-gold.png');
}
.animation-cloud-gold
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-gold.svg');
}
.thumb-cloud-gray
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-gray.png');
}
.animation-cloud-gray
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-gray.svg');
}
.thumb-cloud-green
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-green.png');
}
.animation-cloud-green
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-green.svg');
}
.thumb-cloud-green-yellow
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-green-yellow.png');
}
.animation-cloud-green-yellow
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-green-yellow.svg');
}
.thumb-cloud-light-blue
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-light-blue.png');
}
.animation-cloud-light-blue
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-light-blue.svg');
}
.thumb-cloud-orange
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-orange.png');
}
.animation-cloud-orange
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-orange.svg');
}
.thumb-cloud-pastel
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-pastel.png');
}
.animation-cloud-pastel
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-pastel.svg');
}
.thumb-cloud-pink
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-pink.png');
}
.animation-cloud-pink
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-pink.svg');
}
.thumb-cloud-purple
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-purple.png');
}
.animation-cloud-purple
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-purple.svg');
}
.thumb-cloud-purple-yellow
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-purple-yellow.png');
}
.animation-cloud-purple-yellow
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-purple-yellow.svg');
}
.thumb-cloud-red
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-red.png');
}
.animation-cloud-red
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-red.svg');
}
.thumb-cloud-soft
{
  background-image: url('../image/svg/cloud/thumbnail-cloud/thumb-cloud-soft.png');
}
.animation-cloud-soft
{
  background-image: url('../image/svg/cloud/bg-cloud/cloud-soft.svg');
}

/*
Confetti folder
*/
.thumb-confetti-bg-blue
{
  background-image: url('../image/svg/confetti/thumbnail-confetti/thumb-confetti-bg-blue.png');
}
.animation-confetti-bg-blue
{
  background-image: url('../image/svg/confetti/bg-confetti/confetti-bg-blue.svg');
}
.thumb-confetti-bg-latte
{
  background-image: url('../image/svg/confetti/thumbnail-confetti/thumb-confetti-bg-latte.png');
}
.animation-confetti-bg-latte
{
  background-image: url('../image/svg/confetti/bg-confetti/confetti-bg-latte.svg');
}
.thumb-confetti-bg-orange
{
  background-image: url('../image/svg/confetti/thumbnail-confetti/thumb-confetti-bg-orange.png');
}
.animation-confetti-bg-orange
{
  background-image: url('../image/svg/confetti/bg-confetti/confetti-bg-orange.svg');
}
.thumb-confetti-bg-pink
{
  background-image: url('../image/svg/confetti/thumbnail-confetti/thumb-confetti-bg-pink.png');
}
.animation-confetti-bg-pink
{
  background-image: url('../image/svg/confetti/bg-confetti/confetti-bg-pink.svg');
}
.thumb-confetti-bg-white
{
  background-image: url('../image/svg/confetti/thumbnail-confetti/thumb-confetti-bg-white.png');
}
.animation-confetti-bg-white
{
  background-image: url('../image/svg/confetti/bg-confetti/confetti-bg-white.svg');
}
.thumb-confetti-bg-yellow
{
  background-image: url('../image/svg/confetti/thumbnail-confetti/thumb-confetti-bg-yellow.png');
}
.animation-confetti-bg-yellow
{
  background-image: url('../image/svg/confetti/bg-confetti/confetti-bg-yellow.svg');
}
.thumb-confetti-blue
{
  background-image: url('../image/svg/confetti/thumbnail-confetti/thumb-confetti-blue.png');
}
.animation-confetti-blue
{
  background-image: url('../image/svg/confetti/bg-confetti/confetti-blue.svg');
}
.thumb-confetti-brown
{
  background-image: url('../image/svg/confetti/thumbnail-confetti/thumb-confetti-brown.png');
}
.animation-confetti-brown
{
  background-image: url('../image/svg/confetti/bg-confetti/confetti-brown.svg');
}
.thumb-confetti-gray
{
  background-image: url('../image/svg/confetti/thumbnail-confetti/thumb-confetti-gray.png');
}
.animation-confetti-gray
{
  background-image: url('../image/svg/confetti/bg-confetti/confetti-gray.svg');
}
.thumb-confetti-green
{
  background-image: url('../image/svg/confetti/thumbnail-confetti/thumb-confetti-green.png');
}
.animation-confetti-green
{
  background-image: url('../image/svg/confetti/bg-confetti/confetti-green.svg');
}
.thumb-confetti-pink
{
  background-image: url('../image/svg/confetti/thumbnail-confetti/thumb-confetti-pink.png');
}
.animation-confetti-pink
{
  background-image: url('../image/svg/confetti/bg-confetti/confetti-pink.svg');
}
.thumb-confetti-purple
{
  background-image: url('../image/svg/confetti/thumbnail-confetti/thumb-confetti-purple.png');
}
.animation-confetti-purple
{
  background-image: url('../image/svg/confetti/bg-confetti/confetti-purple.svg');
}
.thumb-confetti-red
{
  background-image: url('../image/svg/confetti/thumbnail-confetti/thumb-confetti-red.png');
}
.animation-confetti-red
{
  background-image: url('../image/svg/confetti/bg-confetti/confetti-red.svg');
}
.thumb-confetti-soft
{
  background-image: url('../image/svg/confetti/thumbnail-confetti/thumb-confetti-soft.png');
}
.animation-confetti-soft
{
  background-image: url('../image/svg/confetti/bg-confetti/confetti-soft.svg');
}

/*
Disk folder
*/
.thumb-disk-blue
{
  background-image: url('../image/svg/disk/thumbnail-disk/thumb-disk-blue.png');
}
.animation-disk-blue
{
  background-image: url('../image/svg/disk/bg-disk/disk-blue.svg');
}
.thumb-disk-dual-color
{
  background-image: url('../image/svg/disk/thumbnail-disk/thumb-disk-dual-color.png');
}
.animation-dual-color
{
  background-image: url('../image/svg/disk/bg-disk/dual-color.svg');
}
.thumb-disk-green
{
  background-image: url('../image/svg/disk/thumbnail-disk/thumb-disk-green.png');
}
.animation-disk-green
{
  background-image: url('../image/svg/disk/bg-disk/disk-green.svg');
}
.thumb-disk-orange
{
  background-image: url('../image/svg/disk/thumbnail-disk/thumb-disk-orange.png');
}
.animation-disk-orange
{
  background-image: url('../image/svg/disk/bg-disk/disk-orange.svg');
}
.thumb-disk-pink
{
  background-image: url('../image/svg/disk/thumbnail-disk/thumb-disk-pink.png');
}
.animation-disk-pink
{
  background-image: url('../image/svg/disk/bg-disk/disk-pink.svg');
}
.thumb-disk-purple
{
  background-image: url('../image/svg/disk/thumbnail-disk/thumb-disk-purple.png');
}
.animation-disk-purple
{
  background-image: url('../image/svg/disk/bg-disk/disk-purple.svg');
}
.thumb-disk-red
{
  background-image: url('../image/svg/disk/thumbnail-disk/thumb-disk-red.png');
}
.animation-disk-red
{
  background-image: url('../image/svg/disk/bg-disk/disk-red.svg');
}
.thumb-disk-yellow
{
  background-image: url('../image/svg/disk/thumbnail-disk/thumb-disk-yellow.png');
}
.animation-disk-yellow
{
  background-image: url('../image/svg/disk/bg-disk/disk-yellow.svg');
}

/*
Gradient folder
*/
.thumb-gradient-blue
{
  background-image: url('../image/svg/gradient/thumbnail-gradient/thumb-gradient-blue.png');
}
.animation-gradient-blue
{
  background-image: url('../image/svg/gradient/bg-gradient/gradient-blue.svg');
}
.thumb-gradient-blue-purple
{
  background-image: url('../image/svg/gradient/thumbnail-gradient/thumb-gradient-blue-purple.png');
}
.animation-gradient-blue-purple
{
  background-image: url('../image/svg/gradient/bg-gradient/gradient-blue-purple.svg');
}
.thumb-gradient-cyan
{
  background-image: url('../image/svg/gradient/thumbnail-gradient/thumb-gradient-cyan.png');
}
.animation-gradient-cyan
{
  background-image: url('../image/svg/gradient/bg-gradient/gradient-cyan.svg');
}
.thumb-gradient-green
{
  background-image: url('../image/svg/gradient/thumbnail-gradient/thumb-gradient-green.png');
}
.animation-gradient-green
{
  background-image: url('../image/svg/gradient/bg-gradient/gradient-green.svg');
}
.thumb-gradient-orange
{
  background-image: url('../image/svg/gradient/thumbnail-gradient/thumb-gradient-orange.png');
}
.animation-gradient-orange
{
  background-image: url('../image/svg/gradient/bg-gradient/gradient-orange.svg');
}
.thumb-gradient-peach
{
  background-image: url('../image/svg/gradient/thumbnail-gradient/thumb-gradient-peach.png');
}
.animation-gradient-peach
{
  background-image: url('../image/svg/gradient/bg-gradient/gradient-peach.svg');
}
.thumb-gradient-purple
{
  background-image: url('../image/svg/gradient/thumbnail-gradient/thumb-gradient-purple.png');
}
.animation-gradient-purple
{
  background-image: url('../image/svg/gradient/bg-gradient/gradient-purple.svg');
}
.thumb-gradient-soft-blue
{
  background-image: url('../image/svg/gradient/thumbnail-gradient/thumb-gradient-soft-blue.png');
}
.animation-gradient-soft-blue
{
  background-image: url('../image/svg/gradient/bg-gradient/gradient-soft-blue.svg');
}

/*
Leaves folder
*/
.thumb-leaves-bg-blue
{
  background-image: url('../image/svg/leaves/thumbnail-leaves/thumb-leaves-bg-blue.png');
}
.animation-leaves-bg-blue
{
  background-image: url('../image/svg/leaves/bg-leaves/leaves-bg-blue.svg');
}
.thumb-leaves-bg-green
{
  background-image: url('../image/svg/leaves/thumbnail-leaves/thumb-leaves-bg-green.png');
}
.animation-leaves-bg-green
{
  background-image: url('../image/svg/leaves/bg-leaves/leaves-bg-green.svg');
}
.thumb-leaves-bg-moca
{
  background-image: url('../image/svg/leaves/thumbnail-leaves/thumb-leaves-bg-moca.png');
}
.animation-leaves-bg-moca
{
  background-image: url('../image/svg/leaves/bg-leaves/leaves-bg-moca.svg');
}
.thumb-leaves-bg-orange
{
  background-image: url('../image/svg/leaves/thumbnail-leaves/thumb-leaves-bg-orange.png');
}
.animation-leaves-bg-orange
{
  background-image: url('../image/svg/leaves/bg-leaves/leaves-bg-orange.svg');
}
.thumb-leaves-bg-purple
{
  background-image: url('../image/svg/leaves/thumbnail-leaves/thumb-leaves-bg-purple.png');
}
.animation-leaves-bg-purple
{
  background-image: url('../image/svg/leaves/bg-leaves/leaves-bg-purple.svg');
}
.thumb-leaves-bg-red
{
  background-image: url('../image/svg/leaves/thumbnail-leaves/thumb-leaves-bg-red.png');
}
.animation-leaves-bg-red
{
  background-image: url('../image/svg/leaves/bg-leaves/leaves-bg-blue.svg');
}
.thumb-leaves-blue
{
  background-image: url('../image/svg/leaves/thumbnail-leaves/thumb-leaves-blue.png');
}
.animation-leaves-blue
{
  background-image: url('../image/svg/leaves/bg-leaves/leaves-blue.svg');
}
.thumb-leaves-gray
{
  background-image: url('../image/svg/leaves/thumbnail-leaves/thumb-leaves-gray.png');
}
.animation-leaves-gray
{
  background-image: url('../image/svg/leaves/bg-leaves/leaves-gray.svg');
}
.thumb-leaves-green
{
  background-image: url('../image/svg/leaves/thumbnail-leaves/thumb-leaves-green.png');
}
.animation-leaves-green
{
  background-image: url('../image/svg/leaves/bg-leaves/leaves-green.svg');
}
.thumb-leaves-pastel
{
  background-image: url('../image/svg/leaves/thumbnail-leaves/thumb-leaves-pastel.png');
}
.animation-leaves-pastel
{
  background-image: url('../image/svg/leaves/bg-leaves/leaves-pastel.svg');
}
.thumb-leaves-pink
{
  background-image: url('../image/svg/leaves/thumbnail-leaves/thumb-leaves-pink.png');
}
.animation-leaves-pink
{
  background-image: url('../image/svg/leaves/bg-leaves/leaves-pink.svg');
}
.thumb-leaves-purple
{
  background-image: url('../image/svg/leaves/thumbnail-leaves/thumb-leaves-purple.png');
}
.animation-leaves-purple
{
  background-image: url('../image/svg/leaves/bg-leaves/leaves-purple.svg');
}
.thumb-leaves-red
{
  background-image: url('../image/svg/leaves/thumbnail-leaves/thumb-leaves-red.png');
}
.animation-leaves-red
{
  background-image: url('../image/svg/leaves/bg-leaves/leaves-red.svg');
}
.thumb-leaves-yellow
{
  background-image: url('../image/svg/leaves/thumbnail-leaves/thumb-leaves-yellow.png');
}
.animation-leaves-yellow
{
  background-image: url('../image/svg/leaves/bg-leaves/leaves-yellow.svg');
}

/*
Wave folder
*/
.thumb-wave-blue
{
  background-image: url('../image/svg/wave/thumbnail-wave/thumb-wave-blue.png');
}
.animation-wave-blue
{
  background-image: url('../image/svg/wave/bg-wave/wave-blue.svg');
}
.thumb-wave-brown
{
  background-image: url('../image/svg/wave/thumbnail-wave/thumb-wave-brown.png');
}
.animation-wave-brown
{
  background-image: url('../image/svg/wave/bg-wave/wave-brown.svg');
}
.thumb-wave-dual-tone
{
  background-image: url('../image/svg/wave/thumbnail-wave/thumb-wave-dual-tone.png');
}
.animation-wave-dual-tone
{
  background-image: url('../image/svg/wave/bg-wave/wave-dual-tone.svg');
}
.thumb-wave-green
{
  background-image: url('../image/svg/wave/thumbnail-wave/thumb-wave-green.png');
}
.animation-wave-green
{
  background-image: url('../image/svg/wave/bg-wave/wave-green.svg');
}
.thumb-wave-mocca
{
  background-image: url('../image/svg/wave/thumbnail-wave/thumb-wave-mocca.png');
}
.animation-wave-mocca
{
  background-image: url('../image/svg/wave/bg-wave/wave-mocca.svg');
}
.thumb-wave-orange
{
  background-image: url('../image/svg/wave/thumbnail-wave/thumb-wave-orange.png');
}
.animation-wave-orange
{
  background-image: url('../image/svg/wave/bg-wave/wave-orange.svg');
}
.thumb-wave-peach
{
  background-image: url('../image/svg/wave/thumbnail-wave/thumb-wave-peach.png');
}
.animation-wave-peach
{
  background-image: url('../image/svg/wave/bg-wave/wave-peach.svg');
}
.thumb-wave-pink
{
  background-image: url('../image/svg/wave/thumbnail-wave/thumb-wave-pink.png');
}
.animation-wave-pink
{
  background-image: url('../image/svg/wave/bg-wave/wave-pink.svg');
}
.thumb-wave-purple
{
  background-image: url('../image/svg/wave/thumbnail-wave/thumb-wave-purple.png');
}
.animation-wave-purple
{
  background-image: url('../image/svg/wave/bg-wave/wave-purple.svg');
}
.thumb-wave-red
{
  background-image: url('../image/svg/wave/thumbnail-wave/thumb-wave-red.png');
}
.animation-wave-red
{
  background-image: url('../image/svg/wave/bg-wave/wave-red.svg');
}
.thumb-wave-soft-blue
{
  background-image: url('../image/svg/wave/thumbnail-wave/thumb-wave-soft-blue.png');
}
.animation-wave-soft-blue
{
  background-image: url('../image/svg/wave/bg-wave/wave-soft-blue.svg');
}
.thumb-wave-soft-purple
{
  background-image: url('../image/svg/wave/thumbnail-wave/thumb-wave-soft-purple.png');
}
.animation-wave-soft-purple
{
  background-image: url('../image/svg/wave/bg-wave/wave-soft-purple.svg');
}
.thumb-wave-yellow
{
  background-image: url('../image/svg/wave/thumbnail-wave/thumb-wave-yellow.png');
}
.animation-wave-yellow
{
  background-image: url('../image/svg/wave/bg-wave/wave-yellow.svg');
}

/*
Waves folder
*/
.thumb-waves-blue
{
  background-image: url('../image/svg/waves/thumbnail-waves/thumb-waves-blue.png');
}
.animation-waves-blue
{
  background-image: url('../image/svg/waves/bg-waves/waves-blue.svg');
}
.thumb-waves-chocolate
{
  background-image: url('../image/svg/waves/thumbnail-waves/thumb-waves-chocolate.png');
}
.animation-waves-chocolate
{
  background-image: url('../image/svg/waves/bg-waves/waves-chocolate.svg');
}
.thumb-waves-green
{
  background-image: url('../image/svg/waves/thumbnail-waves/thumb-waves-green.png');
}
.animation-waves-green
{
  background-image: url('../image/svg/waves/bg-waves/waves-green.svg');
}
.thumb-waves-grey
{
  background-image: url('../image/svg/waves/thumbnail-waves/thumb-waves-grey.png');
}
.animation-waves-grey
{
  background-image: url('../image/svg/waves/bg-waves/waves-grey.svg');
}
.thumb-waves-light-blue
{
  background-image: url('../image/svg/waves/thumbnail-waves/thumb-waves-light-blue.png');
}
.animation-waves-light-blue
{
  background-image: url('../image/svg/waves/bg-waves/waves-light-blue.svg');
}
.thumb-waves-light-brown
{
  background-image: url('../image/svg/waves/thumbnail-waves/thumb-waves-light-brown.png');
}
.animation-waves-light-brown
{
  background-image: url('../image/svg/waves/bg-waves/waves-light-brown.svg');
}
.thumb-waves-ocean
{
  background-image: url('../image/svg/waves/thumbnail-waves/thumb-waves-ocean.png');
}
.animation-waves-ocean
{
  background-image: url('../image/svg/waves/bg-waves/waves-ocean.svg');
}
.thumb-waves-orange
{
  background-image: url('../image/svg/waves/thumbnail-waves/thumb-waves-orange.png');
}
.animation-waves-orange
{
  background-image: url('../image/svg/waves/bg-waves/waves-orange.svg');
}
.thumb-waves-pink
{
  background-image: url('../image/svg/waves/thumbnail-waves/thumb-waves-pink.png');
}
.animation-waves-pink
{
  background-image: url('../image/svg/waves/bg-waves/waves-pink.svg');
}
.thumb-waves-purple
{
  background-image: url('../image/svg/waves/thumbnail-waves/thumb-waves-purple.png');
}
.animation-waves-purple
{
  background-image: url('../image/svg/waves/bg-waves/waves-purple.svg');
}
.thumb-waves-red
{
  background-image: url('../image/svg/waves/thumbnail-waves/thumb-waves-red.png');
}
.animation-waves-red
{
  background-image: url('../image/svg/waves/bg-waves/waves-red.svg');
}
.thumb-waves-sand
{
  background-image: url('../image/svg/waves/thumbnail-waves/thumb-waves-sand.png');
}
.animation-waves-sand
{
  background-image: url('../image/svg/waves/bg-waves/waves-sand.svg');
}
.thumb-waves-yellow
{
  background-image: url('../image/svg/waves/thumbnail-waves/thumb-waves-yellow.png');
}
.animation-waves-yellow
{
  background-image: url('../image/svg/waves/bg-waves/waves-yellow.svg');
}


.thumb-wallpaper1
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-1.png');
}
.thumb-wallpaper2
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-2.png');
}
.thumb-wallpaper3
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-3.png');
}
.thumb-wallpaper4
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-4.png');
}
.thumb-wallpaper5
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-5.png');
}
.thumb-wallpaper6
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-6.jpg');
}
.thumb-wallpaper7
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-7.jpg');
}
.thumb-wallpaper8
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-8.jpg');
}
.thumb-wallpaper9
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-9.jpg');
}
.thumb-wallpaper10
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-10.jpg');
}
.thumb-wallpaper11
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-11.jpg');
}
.thumb-wallpaper12
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-12.jpg');
}
.thumb-wallpaper13
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-13.jpg');
}
.thumb-wallpaper14
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-14.jpg');
}
.thumb-wallpaper15
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-15.jpg');
}
.thumb-wallpaper16
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-16.jpg');
}
.thumb-wallpaper17
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-17.jpg');
}
.thumb-wallpaper18
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-18.jpg');
}
.thumb-wallpaper19
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-19.jpg');
}
.thumb-wallpaper20
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-20.jpg');
}
.thumb-wallpaper21
{
  background-image: url('../image/wallpaper/bg-thumb/thumb-bg-21.jpg');
}

.wallpaper-core{
  background-color :#21d4fd!important;
  color:#fff;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.wallpaper1
{
  background-image: url('../image/wallpaper/bg/bg-1.jpg');
}
.wallpaper2
{
  background-image: url('../image/wallpaper/bg/bg-2.jpg');
}
.wallpaper3
{
  background-image: url('../image/wallpaper/bg/bg-3.jpg');
}
.wallpaper4
{
  background-image: url('../image/wallpaper/bg/bg-4.jpg');
}
.wallpaper5
{
  background-image: url('../image/wallpaper/bg/bg-5.jpg');
}
.wallpaper6
{
  background-image: url('../image/wallpaper/bg/bg-6.jpg');
}
.wallpaper7
{
  background-image: url('../image/wallpaper/bg/bg-7.jpg');
}
.wallpaper8
{
  background-image: url('../image/wallpaper/bg/bg-8.jpg');
}
.wallpaper9
{
  background-image: url('../image/wallpaper/bg/bg-9.jpg');
}
.wallpaper10
{
  background-image: url('../image/wallpaper/bg/bg-10.jpg');
}
.wallpaper11
{
  background-image: url('../image/wallpaper/bg/bg-11.jpg');
}
.wallpaper12
{
  background-image: url('../image/wallpaper/bg/bg-12.jpg');
}
.wallpaper13
{
  background-image: url('../image/wallpaper/bg/bg-13.jpg');
}
.wallpaper14
{
  background-image: url('../image/wallpaper/bg/bg-14.jpg');
}
.wallpaper15
{
  background-image: url('../image/wallpaper/bg/bg-15.jpg');
}
.wallpaper16
{
  background-image: url('../image/wallpaper/bg/bg-16.jpg');
}
.wallpaper17
{
  background-image: url('../image/wallpaper/bg/bg-17.jpg');
}
.wallpaper18
{
  background-image: url('../image/wallpaper/bg/bg-18.jpg');
}
.wallpaper19
{
  background-image: url('../image/wallpaper/bg/bg-19.jpg');
}
.wallpaper20
{
  background-image: url('../image/wallpaper/bg/bg-20.jpg');
}
.wallpaper21
{
  background-image: url('../image/wallpaper/bg/bg-21.jpg');
}


.colorgradient1
{
  background-image: linear-gradient(339deg, #21d4fd, #b721ff);
  background-color :#21d4fd!important;
  color:#fff;
}
.colorgradient2
{
  color:#fff;
  background-image: linear-gradient(134deg, #00b4db, #1094c2);
  background-color :#00b4db!important;
}
.colorgradient3
{
  color:#fff;
  background-image: linear-gradient(139deg, #25b7b2, #3b9893);
  background-color :#25b7b2!important;
}
.colorgradient4{
  color:#fff;
  background-image: linear-gradient(133deg, #fc7a3c, #ed4d55);
  background-color :#fc7a3c!important;
}
.colorgradient5{
  color:#fff;
  background-image: linear-gradient(312deg, #aa19e7, #2333bf);
  background-color :#aa19e7!important;
}
.colorgradient6{
  color:#fff;
  background-image: linear-gradient(133deg, #ae92d3, rgba(153, 85, 242, 0.99));
  background-color :#ae92d3!important;
}
.colorgradient7{
  color:#fff;
  background-image: linear-gradient(to bottom, #f7971e, #ffd200);
  background-color :#f7971e!important;
}
.colorgradient8{
  color:#fff;
  background-image: linear-gradient(45deg, #05a907, #17abaa);
  background-color :#05a907!important;
}
.colorgradient9{
  color:#fff;
  background-image: linear-gradient(229deg, #ff4e50, #ff8158 41%, #f9d423);
  background-color :#ff4e50!important;
}
.colorgradient10{
  color:#fff;
  background-image: linear-gradient(229deg, #1353b9, #38aee9 44%, #0ae68f);
  background-color :#1353b9!important;
}
.colorgradient11{
  color:#fff;
  background-image: linear-gradient(to bottom, #fe8c00, #f83600);
  background-color :#fe8c00!important;
}
.colorgradient12{
  color:#fff;
  background-image: linear-gradient(134deg, #0e76ef, #4497f1 52%, #137bf5);
  background-color :#0e76ef!important;
}
.colorgradient13{
  color:#fff;
  background-image: linear-gradient(45deg, #2c1872, rgba(186, 55, 143, 0.98) 38%, rgba(235, 96, 79, 0.97) 66%, rgba(250, 218, 93, 0.95));
  background-color :#2c1872!important;
}
.colorgradient14{
  color:#fff;
  background-image: linear-gradient(to bottom, #1a2980, #26d0ce);
  background-color :#1a2980!important;
}
.colorgradient15{
  color:#fff;
  background-image: linear-gradient(to bottom, #52c234, #061700);
  background-color :#52c234!important;
}
.colorgradient16{
  color:#fff;
  background-image: linear-gradient(to bottom, #e65c00, #f9d423);
  background-color :#e65c00!important;
}
.colorgradient17{
  color:#fff;
  background-image: linear-gradient(to bottom, #4ecdc4, #556270);
  background-color :#4ecdc4!important;
}
.colorgradient18{
  color:#fff;
  background-image: linear-gradient(to bottom, #f7ff00, #db36a4);
  background-color :#f7ff00!important;
}
.colorgradient19{
  color:#fff;
  background-image: linear-gradient(to bottom, #1e3c72, #2a5298);
  background-color :#1e3c72!important;
}
.colorgradient20{
  color:#fff;
  background-image: linear-gradient(to bottom, #1d976c, #93f9b9);
  background-color :#1d976c!important;
}
.colorgradient21{
  color:#fff;
  background-image: linear-gradient(133deg, #c2ffd8, #465efb);
  background-color :#c2ffd8!important;
}
.colorgradient22{
  color:#fff;
  background-image: linear-gradient(133deg, #97abff, #123597);
  background-color :#97abff!important;
}
.colorgradient23{
  color:#fff;
  background-image: linear-gradient(133deg, #3b2667, #bc78ec);
  background-color :#3b2667!important;
}
.colorgradient24{
  color:#fff;
  background-image: linear-gradient(133deg, #dac72c, #49c628);
  background-color :#dac72c!important;
}
.colorgradient25{
  color:#fff;
  background-image: linear-gradient(133deg, #f761a1, #8c1bab);
  background-color :#f761a1!important;
}
.colorgradient26{
  color:#fff;
  background-image: linear-gradient(133deg, #ffdb01, #0e197d);
  background-color :#ffdb01!important;
}
.colorgradient27{
  color:#fff;
  background-image: linear-gradient(133deg, #f05f57, #360940);
  background-color :#f05f57!important;
}
.colorgradient28{
  color:#fff;
  background-image: linear-gradient(133deg, #ff6fd8, #3813c2);
  background-color :#ff6fd8!important;
}
.colorgradient29{
  color:#fff;
  background-image: linear-gradient(133deg, #ffa8a8, #fcff00);
  background-color :#ffa8a8!important;
}
.colorgradient30{
  color:#fff;
  background-image: linear-gradient(133deg, #3c8ce7, #00eaff);
  background-color :#3c8ce7!important;
}
.colorgradient31{
  color:#fff;
  background-image: linear-gradient(to top, #7028e4, #e5b2ca);
  background-color :#7028e4!important;
}
.colorgradient32{
  color:#fff;
  background-image: linear-gradient(to bottom, #fbc2eb, #a18cd1);
  background-color :#fbc2eb!important;
}
.colorgradient33{
  color:#fff;
  background-image: linear-gradient(to top, #ffb199, #ff0844);
  background-color :#ffb199!important;
}
.colorgradient34{
  color:#fff;
  background-image: linear-gradient(296deg, #fbab7e, #f7ce68);
  background-color :#fbab7e!important;
}
.colorgradient35{
  color:#fff;
  background-image: linear-gradient(227deg, #ae8b9c, #8baaaa);
  background-color :#ae8b9c!important;
}
.colorgradient36{
  color:#fff;
  background-image: linear-gradient(227deg, #7de2fc, #b9b6e5);
  background-color :#7de2fc!important;
}
.colorgradient37{
  color:#fff;
  background-image: linear-gradient(to left, #b12a5b, #cf556c 25%, #ff8c7f 63%, #ff8177);
  background-color :#b12a5b!important;
}
.colorgradient38{
  color:#fff;
  background-image: linear-gradient(to left, #f9d423, #f83600);
  background-color :#f9d423!important;
}
.colorgradient39{
  color:#fff;
  background-image: linear-gradient(to top, #009efd, #2af598);
  background-color :#009efd!important;
}
.colorgradient40{
  color:#fff;
  background-image: linear-gradient(to top, #04befe, #4481eb);
  background-color :#04befe!important;
}
.colorgradient41{
  color:#fff;
  background-image: linear-gradient(to bottom, #f857a6, #ff5858);
  background-color :#f857a6!important;
}
.colorgradient42{
  color: #fff;
  background-image: linear-gradient(to left, #517fa4, #243949);
  background-color :#517fa4!important;
}
.colorgradient43{
  color: #fff;
  background-image: linear-gradient(to top, #fa71cd, #c471f5);
  background-color :#fa71cd!important;
}
.colorgradient44{
  color:#fff;
  background-image: radial-gradient(circle at 50% 50%, #16d9e3, #46aef7);
  background-color :#16d9e3!important;
}
.colorgradient45{
  color:#fff;
  background-image: linear-gradient(to left, #6a11cb, #2575fc);
  background-color :#6a11cb!important;
}
.colorgradient46{
  color:#fff;
  background-image: linear-gradient(to left, #6a11cb, #2575fc);
  background-color :#6a11cb!important;
}
.colorgradient47{
  color:#fff;
  background-image: linear-gradient(to top, #f9f047, #0fd850);
  background-color :#f9f047!important;
}
.colorgradient48{
  color:#fff;
  background-image: linear-gradient(to bottom, #00ecbc, #007adf);
  background-color :#00ecbc!important;
}
.colorgradient49{
  color:#fff;
  background-image: linear-gradient(227deg, #a445b2, #d41872 52%, #ff0066);
  background-color :#a445b2!important;
}
.colorgradient50{
  color:#fff;
  background-image: linear-gradient(to bottom, #56ab2f, #a8e063);
  background-color :#56ab2f!important;
}

.themes {
  width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;
}

.wallpapers {
  width: 125px;
  height: 125px;
  border-radius: 8px;
  cursor: pointer;
}
  
@media (max-width: 768px){
  .themes {
    width: 60.3px;
    height: 52px;
  }

  .wallpapers {
    width: 125px;
    height: 125px;
  }

  .theme-take {
    padding: 6px;
  }
}

.theme1 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(339deg, #21d4fd, #b721ff);
}

.theme2 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(134deg, #00b4db, #1094c2);
}

.theme3 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(139deg, #25b7b2, #3b9893);
}

.theme4 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(133deg, #fc7a3c, #ed4d55);
}

.theme5 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(312deg, #aa19e7, #2333bf);
}

.theme6 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(133deg, #ae92d3, rgba(153, 85, 242, 0.99));
}

.theme7 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to bottom, #f7971e, #ffd200);
}

.theme8 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(45deg, #05a907, #17abaa);
}

.theme9 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(229deg, #ff4e50, #ff8158 41%, #f9d423);
}

.theme10 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(229deg, #1353b9, #38aee9 44%, #0ae68f);
}

.theme11 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to bottom, #fe8c00, #f83600);
}

.theme12 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(134deg, #0e76ef, #4497f1 52%, #137bf5);
}

.theme13 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(45deg, #2c1872, rgba(186, 55, 143, 0.98) 38%, rgba(235, 96, 79, 0.97) 66%, rgba(250, 218, 93, 0.95));
}

.theme14 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to bottom, #1a2980, #26d0ce);
}

.theme15 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to bottom, #52c234, #061700);
}

.theme16 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to bottom, #e65c00, #f9d423);
}

.theme17 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to bottom, #4ecdc4, #556270);
}

.theme18 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to bottom, #f7ff00, #db36a4);
}

.theme19 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to bottom, #1e3c72, #2a5298);
}

.theme20 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to bottom, #1d976c, #93f9b9);
}

.theme21 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(133deg, #c2ffd8, #465efb);
}

.theme22 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(133deg, #97abff, #123597);
}

.theme23 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(133deg, #3b2667, #bc78ec);
}

.theme24 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(133deg, #dac72c, #49c628);
}

.theme25 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(133deg, #f761a1, #8c1bab);
}

.theme26 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(133deg, #ffdb01, #0e197d);
}

.theme27 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(133deg, #f05f57, #360940);
}

.theme28 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(133deg, #ff6fd8, #3813c2);
}

.theme29 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(133deg, #ffa8a8, #fcff00);
}

.theme30 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(133deg, #3c8ce7, #00eaff);
}

.theme31 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to top, #7028e4, #e5b2ca);
}

.theme32 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to bottom, #fbc2eb, #a18cd1);
}

.theme33 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to top, #ffb199, #ff0844);
}

.theme34 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(296deg, #fbab7e, #f7ce68);
}

.theme35 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(227deg, #ae8b9c, #8baaaa);
}

.theme36 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(227deg, #7de2fc, #b9b6e5);
}

.theme37 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to left, #b12a5b, #cf556c 25%, #ff8c7f 63%, #ff8177);
}

.theme38 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to left, #f9d423, #f83600);
}

.theme39 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to top, #009efd, #2af598);
}

.theme40 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to top, #04befe, #4481eb);
}

.theme41 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to bottom, #f857a6, #ff5858);
}

.theme42 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to left, #517fa4, #243949);
}

.theme43 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to top, #fa71cd, #c471f5);
}

.theme44 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: radial-gradient(circle at 50% 50%, #16d9e3, #46aef7);
}

.theme45 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to left, #6a11cb, #2575fc);
}

.theme46 {
 /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(227deg, #7742b2, #f180ff 52%, #fd8bd9);
}

.theme47 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to top, #f9f047, #0fd850);
}

.theme48 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to bottom, #00ecbc, #007adf);
}

.theme49 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(227deg, #a445b2, #d41872 52%, #ff0066);
}

.theme50 {
  /*width: 70.3px;
  height: 62px;
  border-radius: 8px;
  cursor: pointer;*/
  background-image: linear-gradient(to bottom, #56ab2f, #a8e063);
}